/* Start Global rules */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --text-color: #e6e4e5;
  --typing-color: #bbbbbb;
  --theme-color: #2ecc71;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  font-size: 36px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 130px auto 80px;
  font-weight: normal;
}

.main-title::before {
  content: '';
  position: absolute;
  background-color: green;
  width: 180%;
  height: 200%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%) rotate(-6deg);
          transform: translate(-50%, -50%) rotate(-6deg);
  left: 50%;
  top: 50%;
}

@media (max-width: 500px) {
  .main-title {
    font-size: 32px;
    margin: 85px auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #999;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 1em;
}

/* End Global rules */



nav {
  position: fixed;
  width: 100%;
  -webkit-transition: .25s;
  transition: .25s;
  z-index: 9999;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

nav .links {
  display: flex;
  gap: 45px;
  transition: .3s;
}

nav .links li a {
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  position: relative;
  padding: 20px 0;
  transition: .25s;
}

nav .links li a:hover{
  color: rgb(0, 0, 0);
}

nav .links li a::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 0;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.95);
  left: 50%;
  bottom: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

nav .links li a:hover::before {
  width: 125%;
  color: rgb(0, 0, 0);
}

nav .ca-se a{
  color: rgb(0, 0, 0);
}

nav .ca-se .i {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

nav .ca-se i:last-child {
  margin-left: 5px;
}

body{
  background-color: rgb(255, 255, 255);
}

.burger{
  height: fit-content;
  transition: 0.25s;
  display: none;
  padding: 15px;
  cursor: pointer;

}
span{
  height: 3px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  display: block;
  transition: inherit;
}
span:not(:last-child){
  margin-bottom: 4px;
}

@media (max-width: 790px){
  nav .ca-se,
  nav .links{
    /* display: none; */
    position: absolute;

    right: -200%;
    transition: 1s;
    opacity: 0;
  }
  nav .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    width: 250px;
    position: absolute;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    top: 100%;
    gap: 20px;
    padding: 20px 0;
    z-index: 99;
  }
  nav .ca-se{
    position: absolute;
    bottom: -260px;
    width: 250px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgba(14, 14, 14, 0.95);
    backdrop-filter: blur(5px);
    padding: 20px 0;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .burger{
    display: block;
  }
  .burger.active span:nth-child(2){
    opacity: 0;
  }
  .burger.active span:nth-child(1){
    transform: rotate(-45deg) translate(-3px, 7px);
  }
  .burger.active span:nth-child(3){
    transform: rotate(45deg) translate(-3px, -7px);
  }
  nav.active .links{
    right: 0;
    opacity: 1;
}

nav.active .links::before{
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
  top: -30px;
  right: 25px;
}
nav.active .links li{
  width: fit-content;
  
}

nav.active .links li a{
  color: white;
}

nav.active .links li a::before{
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}
nav.active .ca-se{
  right: 0;
  opacity: 1;
  position: absolute;
  bottom: -260px;
  width: 250px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(14, 14, 14, 0.95);
  backdrop-filter: blur(5px);
  padding: 20px 0;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

nav.active .ca-se a{
  color: white;
}

}

.hero, .shop{
  height: 100vh;
  display: flex;
}

.landing{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .convert{
  width: 50%;
}

.landing .convert h1{
  font-size: 56px;
  text-transform: uppercase;
  color:  #2631ce;
  margin-bottom: 15px;
}

@media (max-width:500px){
  .landing .convert h1{
      font-size: 28px;
      text-align: center;
      margin-bottom: 10px;
  }
  .landing .convert p{
      text-align: center;
      font-size: 14px;
  }
}
.landing .convert p{
  color: #777;
  margin: 0;
}

.landing .convert p.clicked{
  color: #acacac;
}

.landing .convert .btns{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.landing .convert .btns a{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
  text-transform: capitalize;
  border-radius: 5em;
  color: rgb(255, 255, 255);
  background-color:  #2631ce;
  transition: .2s;
  position: relative;
  width: 100%;
}
.landing .convert .btns a:hover{
  background-color: #2631cedb;
}

.landing .image{
  width: 35%;
  height: fit-content;
  padding: 0;
  position: relative;
  z-index: 2;
}

.landing .image img{
  width: 100%;
  margin: 0;
  transition: .2s;
}

.landing .image img.clicked{
  filter: opacity(.8);
  transition: .2s;
}
.landing .image::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: rgba(38, 33, 33, 0.273);
  bottom: -15px;
  left: 0;
  border-radius: 50%;
  filter: blur(10px);
  z-index: -1;
}


@media (max-width:500px){
  .hero .landing{
      flex-direction: column-reverse;
      justify-content: center;
      gap: 10%;
  }
  .hero .landing .convert{
      width: unset;
  }
  .landing .image{
      width: 60%;
  }
  .hero .landing .convert .btns a:first-child,
  .hero .landing .convert .btns a:last-child{
      font-size: 18px;
      padding: 10px;
  }
}